@model FitnessTracker.Controllers.NewFoodModel

@{
    ViewData["Title"] = "Add Food";

    FoodRecord[] recordForCurrentDate = Model.FoodRecords.Where(record => record.ConsumptionDate == (DateTime)ViewData["selectedDate"]).ToArray();
}

@section Scripts{
    <script src="~/js/Nutrition/AddFood.js"></script>
}



<h2>Add Existing Food</h2>
<div class="horizontalScrollBox" style="overflow-x:auto;overflow-y:hidden;white-space:nowrap;">
    @foreach (Food f in Model.UserFoods)
    {
        <div class="col-2 d-inline-block float-none" style="margin-right:-0.5rem;margin-left:-0.5rem">
            <div class="card" data-ID="@f.ID" data-Name="@f.Name" data-Carbs="@f.Carbohydrates" data-Protein="@f.Protein" data-Fat="@f.Fat" data-Calories="@f.Calories" data-ServingSize="@f.ServingSize" data-ServingUnit="@f.ServingUnit">
                <div class="card-header">
                    <h3 class="text-center mb-0">@f.Name</h3>
                </div>
                <div class="card-body">
                    <h6 class="text-center font-weight-lighter">
                        @(f.ServingSize)@(f.ServingUnit.ToString())
                    </h6>
                    <h5 class="text-center font-weight-normal">
                        @(f.Calories)cal
                    </h5>

                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="addFoodRecord(this);">Add</button>
                    <button type="button" class="btn btn-primary" onclick="setNewFoodFields(this);">Edit</button>
                    <form asp-controller="Nutrition" asp-action="DeleteFood" class="d-inline">
                        <input type="hidden" value="@f.ID" name="ID" required />
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </div>
            </div>

        </div>
    }
</div>

<form id="NewFoodForm" asp-controller="Nutrition" asp-action="AddNewFood" method="post" class="mt-4">
    <div class="mb-2">
        <h2 class="d-inline mr-2 align-middle" id="NewFoodHeader">Add New Food</h2>
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="reset" class="btn btn-danger d-none" value="Cancel" id="NewFoodCancel" onclick="cancelEdit();" />
    </div>

    <input type="hidden" name="ID" id="existingFoodID" value="0" />
    <input type="hidden" name="CreatedByID" value="0" />

    <table>
        <tbody>
            <tr>
                <td>
                    <label class="mb-0">Name</label>
                </td>
                <td>
                    <label class="mb-0">Serving Size</label>

                </td>
                <td>
                    <label class="mb-0" id="newFoodUnit">Serving Unit</label>

                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="Name" class="form-control mr-4" id="newFoodName" required />
                </td>
                <td>
                    <input type="number" name="ServingSize" class="form-control mr-4" id="newFoodSize" min="0" required />
                </td>
                <td>
                    <select name="ServingUnit" class="form-control" required>
                        <option value="ea">ea</option>
                        <option value="ml">ml</option>
                        <option value="g">g</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="pt-2">
                    <label class="mb-0">Carbohydrates</label>

                </td>
                <td class="pt-2">
                    <label class="mb-0">Protein</label>

                </td>
                <td class="pt-2">
                    <label class="mb-0">Fat</label>

                </td>
                <td class="pt-2">
                    <label class="mb-0">Calories</label>

                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" name="Carbohydrates" class="form-control mr-4" id="newFoodCarbs" oninput="updateCalories();" min="0" value="0" required />
                </td>
                <td>
                    <input type="number" name="Protein" class="form-control mr-4" id="newFoodProtein" oninput="updateCalories();" min="0" value="0" required />
                </td>
                <td>
                    <input type="number" name="Fat" class="form-control mr-4" id="newFoodFat" oninput="updateCalories();" min="0" value="0" required />
                </td>
                <td>
                    <input type="number" name="Calories" class="form-control  mr-4" id="newFoodCalories" min="0" value="0" required />
                </td>
            </tr>
        </tbody>
    </table>
</form>

<hr />

<form asp-controller="Nutrition" asp-action="AddFood" method="get" id="DateSelectionForm">
    <div class="form-group form-inline mt-2">
        <label>Date</label>
        <input type="date" name="Date" class="form-control" value="@(((DateTime)ViewData["selectedDate"]).ToString("yyyy-MM-dd"))" onchange='$("#DateSelectionForm").submit();' />
    </div>
</form>


<form asp-controller="Nutrition" asp-action="EditRecords" method="post">

    <div class="mb-2">
        <h2 class="mt-3 mr-2 d-inline align-middle">Food Records</h2>
        <input type="submit" class="btn btn-primary d-inline" value="Save" />
    </div>

    <input type="hidden" name="Date" value="@(((DateTime)ViewData["selectedDate"]).ToString("yyyy-MM-dd"))" />


    <table class="table">
        <thead>
            <tr>
                <th>Food</th>
                <th>Quantity</th>
                <th>Carbohydrates</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Calories</th>
                <th></th>
            </tr>

            <tr id="NewRowTemplate" class="d-none">
                <td>
                    <input type="hidden" class="recordID" />
                    <input type="text" class="recordName" disabled />
                </td>
                <td><input type="number" class="recordQuantity" min="0" step="0.1" value="1" /></td>
                <td><input type="number" class="recordCarbs" disabled /></td>
                <td><input type="number" class="recordProtein" disabled /></td>
                <td><input type="number" class="recordFat" disabled /></td>
                <td><input type="number" class="recordCalories" disabled /></td>
                <td><a href="#" onclick="removeRow(this)">Remove</a></td>
            </tr>
        </thead>
        <tbody id="RecordBody">
            @for (int i = 0; i < recordForCurrentDate.Length; i++)
            {
                FoodRecord record = recordForCurrentDate[i];

                <tr>
                    <td>
                        <input type="hidden" class="recordID" value="@record.FoodID" name="FoodIDs[@i]" />
                        <input type="text" class="recordName" value="@record.Food.Name" disabled />
                    </td>
                    <td><input type="number" class="recordQuantity" min="0" step="0.1" value="@record.Quantity" name="Quantities[@i]" required /></td>
                    <td><input type="number" class="recordCarbs" value="@record.Food.Carbohydrates" disabled /></td>
                    <td><input type="number" class="recordProtein" value="@record.Food.Protein" disabled /></td>
                    <td><input type="number" class="recordFat" value="@record.Food.Fat" disabled /></td>
                    <td><input type="number" class="recordCalories" value="@record.Food.Calories" disabled /></td>
                    <td><a href="#" onclick="removeRow(this)">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>