@model FitnessTracker.Controllers.NutritionSummaryModel

@{
    ViewData["Title"] = "Nutrition";

    var todayRecords = Model.Records.Where(record => record.ConsumptionDate == DateTime.Today);
    int todayCalories = todayRecords.Sum(record => record.Food.Calories);
    int todayCarbs = todayRecords.Sum(record => record.Food.Carbohydrates);
    int todayProtein = todayRecords.Sum(record => record.Food.Protein);
    int todayFat = todayRecords.Sum(record => record.Food.Fat);

    var yesterdayRecords = Model.Records.Where(record => record.ConsumptionDate == DateTime.Today.AddDays(-1));
    int yesterdayCalories = yesterdayRecords.Sum(record => record.Food.Calories);
    int yesterdayCarbs = yesterdayRecords.Sum(record => record.Food.Carbohydrates);
    int yesterdayProtein = yesterdayRecords.Sum(record => record.Food.Protein);
    int yesterdayFat = yesterdayRecords.Sum(record => record.Food.Protein);

    var weekRecordGroup = Model.Records.Where(record => record.ConsumptionDate >= DateTime.Today.AddDays(-7)).GroupBy(record => record.ConsumptionDate);
    int weekCaloriesAverage =  weekRecordGroup.Count() == 0 ? 0 :(int)weekRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Calories));
    int weekCarbsAverage = weekRecordGroup.Count() == 0 ? 0 : (int)weekRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Carbohydrates));
    int weekProteinAverage = weekRecordGroup.Count() == 0 ? 0 : (int)weekRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Protein));
    int weekFatAverage = weekRecordGroup.Count() == 0 ? 0 : (int)weekRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Fat));

    var monthRecordGroup = Model.Records.Where(record => record.ConsumptionDate >= DateTime.Today.AddDays(-28)).GroupBy(record => record.ConsumptionDate);
    int monthCaloriesAverage = monthRecordGroup.Count() == 0 ? 0 : (int)monthRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Calories));
    int monthCarbsAverage = monthRecordGroup.Count() == 0 ? 0 : (int)monthRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Carbohydrates));
    int monthProteinAverage = monthRecordGroup.Count() == 0 ? 0 : (int)monthRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Protein));
    int monthFatAverage = monthRecordGroup.Count() == 0 ? 0 : (int)monthRecordGroup.Average(grouping => grouping.Sum(record => record.Food.Fat));



}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="~/js/Nutrition/summary.js"></script>
}

<div class="mb-3">
    <h2 class="d-inline">Nutrition Summary</h2>
    <a asp-controller="Nutrition" asp-action="AddFood" class="font-weight-bold mb-3">+Add Food</a>
</div>


<div id="MonthGraphData" class="d-none">

</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Target</h3>
            </div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <h4>Calories</h4>
                    @Model.Target.DailyCalories cal
                </div>
                <div class="d-flex text-center">
                    <div class="flex-grow-1">
                        <h6>Carbs</h6>
                        <div>@(Model.Target.DailyCarbohydrates)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Fat</h6>
                        <div>@(Model.Target.DailyProtein)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Protein</h6>
                        <div>@(Model.Target.DailyFat)g</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Today</h3>
            </div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <h4>Calories</h4>
                    @todayCalories cal
                </div>
                <div class="d-flex text-center">
                    <div class="flex-grow-1">
                        <h6>Carbs</h6>
                        <div>@(todayCarbs)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Fat</h6>
                        <div>@(todayProtein)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Protein</h6>
                        <div>@(todayFat)g</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Yesterday</h3>
            </div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <h4>Calories</h4>
                    @yesterdayCalories cal
                </div>
                <div class="d-flex text-center">
                    <div class="flex-grow-1">
                        <h6>Carbs</h6>
                        <div>@(yesterdayCarbs)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Fat</h6>
                        <div>@(yesterdayProtein)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Protein</h6>
                        <div>@(yesterdayFat)g</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Last 7 days <span class="small" style="font-size:55%">Average</span></h3>
            </div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <h4>Calories</h4>
                    @weekCaloriesAverage cal
                </div>
                <div class="d-flex text-center">
                    <div class="flex-grow-1">
                        <h6>Carbs</h6>
                        <div>@(weekCarbsAverage)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Fat</h6>
                        <div>@(weekProteinAverage)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Protein</h6>
                        <div>@(weekFatAverage)g</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Last 28 days <span class="small" style="font-size:55%">Average</span></h3>
            </div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <h4>Calories</h4>
                    @monthCaloriesAverage cal
                </div>
                <div class="d-flex text-center">
                    <div class="flex-grow-1">
                        <h6>Carbs</h6>
                        <div>@(monthCarbsAverage)g</div>
                    </div>
                    <div class="flex-grow-1">
                        <h6>Fat</h6>
                        <div>@(monthProteinAverage)g</div>

                    </div>
                    <div class="flex-grow-1">
                        <h6>Protein</h6>
                        <div>@(monthFatAverage)g</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="text-center mt-3">Last 7 Days</h3>
<div class="row mt-3 mb-3">
    <div class="col">
        <canvas id="WeekCaloriesGraph" style="max-width:100%">
        </canvas>
    </div>
    <div class="col">
        <canvas id="WeekMacroGraph" style="max-width:100%">
        </canvas>
    </div>
</div>

<h3 class="text-center mt-3">Last 28 Days</h3>
<div class="row mt-3">
    <div class="col">
        <canvas id="MonthCaloriesGraph" style="max-width:100%">
        </canvas>
    </div>
    <div class="col">
        <canvas id="MonthMacroGraph" style="max-width:100%">
        </canvas>
    </div>
</div>
