@model Goal

@{
    ViewData["Title"] = "Edit Goal";

    long id = Model == null ? 0 : Model.ID;
    string activity = Model == null ? "" : Model.Activity;
    bool isWeightliftingGoal = (Model == null || Model.GetType() == typeof(WeightliftingGoal));
    bool isTimedGoal = Model?.GetType() == typeof(TimedGoal);

    WeightliftingGoal weightliftingGoal = null;
    TimedGoal timedGoal = null;


    if (Model.GetType() == typeof(WeightliftingGoal))
        weightliftingGoal = (WeightliftingGoal)Model;
    else if (Model.GetType() == typeof(TimedGoal))
        timedGoal = (TimedGoal)Model;

    float weight = weightliftingGoal == null ? 0 : weightliftingGoal.Weight;
    int reps = weightliftingGoal == null ? 0 : weightliftingGoal.Reps;

    float quantity = timedGoal == null ? 0 : timedGoal.Quantity;
    string quantityUnit = timedGoal == null ? "" : timedGoal.QuantityUnit;
    TimeSpan timespan = timedGoal == null ? new TimeSpan() : timedGoal.Time;
}

@section Scripts{
    <script src="~/js/Goal/editgoal.js"></script>
}

<h1 class="ml-1">Edit Goal</h1>

<div class="container w-25 ml-2">
    <form asp-controller="Goal" asp-action="EditGoal" method="post">
        <input type="hidden" Name="GoalInput.ID" value="@id" required />

        <div class="form-group">
            <label class="font-weight-bold">Activity</label>
            <input type="text" Name="GoalInput.Activity" class="form-control" value="@activity" required/>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Type</label>
            <div class="form-group form-inline">
                <input type="radio" id="WeightliftingRadio" Name="GoalInput.Type" value="Weightlifting" class="form-control form-check mr-1" oninput="typeRadio_Changed();"
                       @(isWeightliftingGoal ? "checked" : "") />
                <label>Weightlifting</label>

                <input type="radio" id="TimedRadio" Name="GoalInput.Type" value="Timed" class="form-control form-check mr-1 ml-3" oninput="typeRadio_Changed();"
                       @(isTimedGoal ? "checked" : "") />
                <label>Timed</label>
            </div>
        </div>

        <div id="WeightliftingGroup" class="form-group">
            <div class="form-group">
                <label class="font-weight-bold">Weight</label>
                <input type="number" Name="GoalInput.Weight" min="0" step="0.1" class="form-control" value="@weight"required />
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Reps</label>
                <input type="number" Name="GoalInput.Reps" min="0" step="1" class="form-control" value="@reps" required/>
            </div>
        </div>

        <div id="TimedGroup" class="form-group d-none">
            <div class="form-group">
                <label class="font-weight-bold">Time</label>

                <div class="d-flex">
                    <input type="number" min="0" max="24" step="1" Name="GoalInput.Hours" class="form-control flex-grow-1" placeholder="Hours" value="@timespan.Hours" required/>
                    <input type="number" min="0" max="60" step="1" Name="GoalInput.Minutes" class="form-control flex-grow-1" placeholder="Minutes" value="@timespan.Minutes" required/>
                    <input type="number" min="0" max="60" step="1" Name="GoalInput.Seconds" class="form-control flex-grow-1" placeholder="Seconds" value="@timespan.Seconds" required/>
                </div>

            </div>
            <div class="form-group">
                <label class="font-weight-bold">Quantity</label>
                <div class="d-flex">
                    <input type="number" min="0" step="1" Name="GoalInput.Quantity" placeholder="Quantity" class="form-control flex-grow-1" value="@quantity" required/>
                    <input type="text" Name="GoalInput.QuantityUnit" placeholder="Unit" class="form-control flex-grow-1" value="@quantityUnit" required/>
                </div>
            </div>
        </div>

        <div class="form-group float-right">
            <a asp-controller="Goal" asp-action="Summary" class="btn btn-danger">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </form>
</div>

